/* You can add global styles to this file, and also import other style files */
body {
    background: rgb(11,11,24);
    background-image: radial-gradient(rgba(96,96,96, 0.3) 5%, transparent 0);
    background-size: 30px 30px;
}